<!DOCTYPE html>
<html>
<head>
</head>
<body>
      <p>How many candles you want to buy?</p> 
      
    <form action="/candles" method="POST">
   
            <input type="integer" name="num">
            <input type="submit" name="Submit">
              </form>   
      
            <% if @num.to_i > 1 %>
                 <p> Thank you for ordering <%= @num %> candles!</p>  
                     <% else %>
                 <p> Please enter a valid number for your order </p>
             <% end %>
             
             
            <% @num.to_i.times do %>
             <img src=https://www.uncommongoods.com/images/items/47300/47344_4_640px.jpg height = 100 width = 100 </img>
            <% end %>
            
            
</body>
</html>
