<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <p>How many candles you want to buy?</p> 
      <form action="/howmany" method="POST"> 
        <input type="integer" name="num">
        <input type="submit" name="submit">
      </form>
  
</body>
</html>
 